/**
 * Realm of Agents page - Ontological SCSS mapping
 * Maps HTML semantic classes to Genesis ontological roles
 * SCSS structure mirrors HTML DOM hierarchy
 */

/* Article layout provides the main structure, we only need section-specific styles */

.overview-section {
  @include genesis-entity('secondary');
}

.purpose-section {
  @include genesis-entity('secondary');
  
  h2 {
    @include genesis-cognition('axiom');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
}

.core-components-section {
  @include genesis-entity('secondary');
  
  h2, h3 {
    @include genesis-cognition('axiom');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
}

.architecture-section {
  @include genesis-entity('secondary');
  
  h2, h3 {
    @include genesis-cognition('axiom');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
}

.features-section {
  @include genesis-entity('secondary');
  
  h2, h3 {
    @include genesis-cognition('axiom');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
}

.workflow-section {
  @include genesis-entity('secondary');
  
  h2, h3 {
    @include genesis-cognition('axiom');
  }
  
  pre {
    @include genesis-cognition('protocol');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
}

.tech-stack-section {
  @include genesis-entity('secondary');
  
  h2, h3 {
    @include genesis-cognition('axiom');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
}

.deployment-section {
  @include genesis-entity('secondary');
  
  h2, h3 {
    @include genesis-cognition('axiom');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
}

.contributing-section {
  @include genesis-entity('secondary');
  
  h2, h3 {
    @include genesis-cognition('axiom');
  }
  
  ol {
    @include genesis-cognition('discourse');
  }
}

.related-projects-section {
  @include genesis-entity('secondary');
  
  h2 {
    @include genesis-cognition('axiom');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
}

.license-section {
  @include genesis-entity('secondary');
  
  h2 {
    @include genesis-cognition('axiom');
  }
}

.contact-section {
  @include genesis-entity('secondary');
  
  h2 {
    @include genesis-cognition('axiom');
  }
  
  ul {
    @include genesis-cognition('discourse');
  }
  
  .platform-note {
    @include genesis-cognition('gloss');
  }
}
